<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-9 col-lg-push-3 col-md-push-3">
            <div class="text-center">
                <h1><strong>{{title}}</strong></h1>
                <p><small>{{todaydate}}</small></p>
                <hr>
                <p>{{description}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-lg-push-3 col-md-push-3">
            <form>
                <div class="form-group">
                    <select class="form-control">
                        <option *ngFor="let month of months">{{month}}</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-lg-push-3 col-md-push-3">
            <form>
                <div class="form-group">
                    <select class="form-control">
                        <option *ngFor="let month of months">{{month}}</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-lg-push-2 col-md-push-2">
            
            <div class="form-group text-center">
                <div class="btn-group">
                    <button class="btn btn-success" (click)="setTrue()">True</button>
                    <button class="btn btn-danger" (click)="setFalse()">False</button>
                </div>
            </div>
            <div class="text-center">
                <h3><strong>{{simplePipeData | lowercase}}</strong></h3>
            </div>

            <ng-container *ngIf="isAvailable; else elseTemplate">
                <div class="alert alert-success">
                    <p><strong>Note: </strong>Yes it's available</p>
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <div class="alert alert-danger">
                    <p><strong>Note: </strong>No it's not available</p>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="row">
        <app-new-comp [featureSet]="firstFeature"></app-new-comp>
        <app-new-comp [featureSet]="secondFeature"></app-new-comp>
        <app-new-comp [featureSet]="thirdFeature"></app-new-comp>
        <app-new-comp [featureSet]="fourthFeature"></app-new-comp>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <ul class="list-group">
                <li *ngFor="let item of persondata; let i=index" class="list-group-item">{{item.name}}</li>
            </ul>
        </div>
    </div>
</div>


<router-outlet></router-outlet>
